<div>
	<div><b>Listing Tweets</b></div>
	<% if @closest_tweets.present? 
			@closest_tweets.each do |tweet|
	%>
		<table>
			<tr class="tweet">
				<td class="tweet_image"><%= image_tag(tweet.profile_pic_url, :alt => "") %></td>
				<td class="tweet_right" id="tweet_column">
					<span class="tweet_screen_name"><%=tweet.user_handle %> : </span>
					<span class="tweet" ><%= tweet.status %></span>
				</td>
			<tr>
		</table>
	<% end
	else %>
		<div>No tweets were found !!  Try some different coordinates</div>
	<% end %>
</div>
